#MLwindow {
	color: black;
	background-color: rgb(181, 176, 213);
}

#searchRes {
	border: solid;
	border-width: 1px 1px 1px 1px;
	border-color: black;
}

#searchResBox {
	border: solid;
	border-width: 1px 1px 1px 1px;
	border-radius: 0px;
	border-color: black;
	color: black;
	background-color: white;
}

#activeRow {
	background-color: rgb(38, 20, 228);
	color: white;
}

#applyBut {
  	background-image: none;
  	background-color: rgb(45, 146, 238);
  	border-width: 1px;
  	border-color: black;
 	color: black;
  	box-shadow:
   		inset rgba(0,0,0,.6) 0 -3px 8px,
   		inset rgba(252,255,255,.7) 0 3px 8px,
   		rgba(0,0,0,.8) 0 3px 8px -3px;
}

#applyBut:hover {
  	background-image: none;
  	background-color: rgb(42, 98, 211);
  	color: white;
}

#applyBut:active {
	background-image: none;
  	background-color: rgb(24, 174, 122);
  	color: white;
}

#cancelBut {
  	background-image: none;
  	background-color: rgb(244, 189, 34);
  	border-width: 1px;
  	border-color: black;
 	color: black;
  	box-shadow:
   		inset rgba(0,0,0,.6) 0 -3px 8px,
   		inset rgba(252,255,255,.7) 0 3px 8px,
   		rgba(0,0,0,.8) 0 3px 8px -3px;
}

#cancelBut:hover {
  	background-image: none;
  	background-color: rgb(42, 98, 211);
  	color: white;
}

#cancelBut:active {
	background-image: none;
  	background-color: rgb(24, 174, 122);
  	color: white;
}

#comboBox button {
	background-image: none;
  	background-color: rgb(107, 205, 205);
  	border-width: 1px;
  	border-color: black;
 	color: black;
  	box-shadow:
   		inset rgba(0,0,0,.6) 0 -3px 8px,
   		inset rgba(252,255,255,.7) 0 3px 8px,
   		rgba(0,0,0,.8) 0 3px 8px -3px;
}

#comboBox button:hover {
	background-image: none;
  	background-color: rgb(154, 177, 177);
}

#menBut button.toggle {
	background-image: none;
  	background-color: rgb(107, 205, 205);
  	border-width: 1px;
  	border-color: black;
 	color: black;
  	box-shadow:
   		inset rgba(0,0,0,.6) 0 -3px 8px,
   		inset rgba(252,255,255,.7) 0 3px 8px,
   		rgba(0,0,0,.8) 0 3px 8px -3px;
}

#menBut button.toggle:hover {
	background-image: none;
  	background-color: rgb(154, 177, 177);  	
}

#operationBut {
	background-image: none;
  	background-color: rgb(107, 205, 205);
  	border-width: 1px;
  	border-color: black;
 	color: black;
  	box-shadow:
   		inset rgba(0,0,0,.6) 0 -3px 8px,
   		inset rgba(252,255,255,.7) 0 3px 8px,
   		rgba(0,0,0,.8) 0 3px 8px -3px;
}

#operationBut:hover {
	background-image: none;
  	background-color: rgb(154, 177, 177);
}

#operationBut:active {
	background-image: none;
  	background-color: rgb(24, 174, 122);
  	color: white;
}

#menulab {
  	color: black;
}

#menulab:hover {
  	background-color: rgb(24, 174, 122);
  	color: white;
}

#unselectedLab {
	background-color: white;
	color: black;	
}

#selectedLab {
	background-color: green;
	color: white;
}
