#MLwindow {
	background-color: rgb(181, 176, 213);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-image: none;
	background-size: cover;
}

#aboutDialog {
	background-color: rgb(181, 176, 213);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-image: none;
	background-size: cover;
}

#aboutDialog label {
	color: black;
	background-color: rgba(255, 255, 255, 0);
}

#mainMenu {
	color: black;
	background-color: rgb(181, 176, 213);
}

#windowEntry {
	color: black;
	background-color: white;
	border-color: grey;
}

#windowLabel {
	color: black;
	background-color: rgba(255, 255, 255, 0);
}

#tablesView {
	background-color: rgba(255, 255, 255, 0);
}

#tablesView listview {
	background-color: white;
}

#tablesView button {
	color: black;
	background-image: none;
	background-color: white;
	box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px, inset
		rgba(252, 255, 255, .7) 0 3px 8px, rgba(0, 0, 0, .8) 0 3px 8px -3px;
}

#textField {
	color: black;
	background-color: white;
}

#applyBut {
	background-image: none;
	background-color: rgb(39, 188, 80);
	border-width: 1px;
	border-color: black;
	color: black;
	box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px, inset
		rgba(252, 255, 255, .7) 0 3px 8px, rgba(0, 0, 0, .8) 0 3px 8px -3px;
}

#applyBut:hover {
	background-image: none;
	background-color: rgb(42, 98, 211);
	color: white;
}

#applyBut:active {
	background-image: none;
	background-color: rgb(24, 174, 122);
	color: white;
}

#cancelBut {
	background-image: none;
	background-color: rgb(244, 189, 34);
	border-width: 1px;
	border-color: black;
	color: black;
	box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px, inset
		rgba(252, 255, 255, .7) 0 3px 8px, rgba(0, 0, 0, .8) 0 3px 8px -3px;
}

#cancelBut:hover {
	background-image: none;
	background-color: rgb(42, 98, 211);
	color: white;
}

#cancelBut:active {
	background-image: none;
	background-color: rgb(24, 174, 122);
	color: white;
}

#comboBox button {
	background-image: none;
	background-color: rgb(107, 205, 205);
	border-width: 1px;
	border-color: black;
	color: black;
	box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px, inset
		rgba(252, 255, 255, .7) 0 3px 8px, rgba(0, 0, 0, .8) 0 3px 8px -3px;
}

#comboBox button:hover {
	color: black;
	background-image: none;
	background-color: rgb(154, 177, 177);
}

#menBut button.toggle {
	background-image: none;
	background-color: rgb(107, 205, 205);
	border-width: 1px;
	border-color: black;
	color: black;
	box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px, inset
		rgba(252, 255, 255, .7) 0 3px 8px, rgba(0, 0, 0, .8) 0 3px 8px -3px;
}

#menBut button.toggle:hover {
	background-image: none;
	background-color: rgb(154, 177, 177);
	color: black;
}

#operationBut {
	background-image: none;
	background-color: rgb(103, 138, 244);
	border-width: 1px;
	border-color: black;
	color: black;
	box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px, inset
		rgba(252, 255, 255, .7) 0 3px 8px, rgba(0, 0, 0, .8) 0 3px 8px -3px;
}

#operationBut:hover {
	background-image: none;
	background-color: rgb(42, 98, 211);
	color: white;
}

#operationBut:active {
	background-image: none;
	background-color: rgb(24, 174, 122);
	color: white;
}

#selectedLab {
	background-color: green;
	color: white;
}

#progressBars {
	color: black;
}

#progressBars trough {
	background-color: white;
	min-height: 20px;
}

#progressBars trough progress {
	background-color: blue;
	min-height: 20px;
}

#removeBut {
	background-image: none;
	background-color: rgb(247, 124, 124);
	border-width: 1px;
	border-color: black;
	color: black;
	box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px, inset
		rgba(252, 255, 255, .7) 0 3px 8px, rgba(0, 0, 0, .8) 0 3px 8px -3px;
}

#removeBut:hover {
	background-image: none;
	background-color: rgb(42, 98, 211);
	color: white;
}

#removeBut:active {
	background-image: none;
	background-color: rgb(24, 174, 122);
	color: white;
}

#badLabel {
	background-color: rgb(247, 124, 124);
	color: black;
}

#yellowLab {
	background-color: rgb(254, 230, 10);
	color: black;
}

#MLframe {
	border-color: black;
}

#MLscale marks.bottom {
	color: black;
	background-color: rgba(255, 255, 255, 0);
}

#MLscale value {
	color: black;
	background-color: rgba(255, 255, 255, 0);
}

#MLnotebook header.top {
	color: black;
	background-color: rgba(255, 255, 255, 0);
}

#MLnotebook stack {
	background-color: rgba(255, 255, 255, 0);
}
